{% extends "::base.html.twig" %}

{% block title %}SieAppWebBundle:RudeUnification:lookforStudentsHistory{% endblock %}

{% block body %}
<h1>Welcome to the RudeUnification:lookforStudentsHistory page</h1>
{% endblock %}
