<div class="row">
    <div class="col-md-6">
        {% include 'SieJuegosBundle:RegistryPersonComission:dataDelegadoDepartamental.html.twig'  %}
            {# with {'dataInscription': dataInscriptionR} #}
    </div>           
        
     <div class="col-md-6">
        <div id="resultCommission">
            </div> 
    </div> 
</div>




