<div class="row">
    <div class="col-md-12">
     {% include 'SieJuegosBundle:RegistryPersonComission:dataPerson.html.twig'  %}
        {# with {'dataInscription': dataInscriptionR} #}
    </div>
</div>
<div class="row">
            
        
     <div class="col-md-12">
        <div id="resultCommission">
            </div> 
    </div> 
</div>




