{% extends "::base.html.twig" %}

{% block title %}SieJuegosBundle:RegistryPersonComission:newPerson{% endblock %}

{% block body %}
<h1>Welcome to the RegistryPersonComission:newPerson page</h1>
{% endblock %}
