<div class="panel panel-info">
	<div class="panel-heading">
		<div class="pull-left">
			<h3 class="panel-title">Inconsistencias / Observaciones</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body no-padding"> 
	{% if estado=='' %}
		{% if inconsistencia %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>¡Error!</strong>
				Se han encontrado inconsistencias, la información no será consolidada para el Centro Educativo:
				{{ institucion }}; Gestión:
				{{ gestion }}; Operativo:
				{% if periodo == 100 %}
					RUDEES
				{% elseif periodo == 0 %}
					Inicio de Gestión
				{% elseif periodo == 1 %}
					Primer Trimestre
				{% elseif periodo == 2 %}
					Segundo Trimestre
				{% elseif periodo == 3 %}
					Tercer Trimestre
				{% elseif periodo == 4 %}
					Cuarto Trimestre
				{% elseif periodo == 5 %}
					Fin de Gestión
				{% endif %}
			</div>
			{% for logs in inconsistencia %}

				<ul>
					<li>
						<code>{{ logs.observacion }}</code>
					</li>
				</ul>

			{% endfor %}
		{% else %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>¡Bien!</strong>
				No se han encontrado inconsistencias, la información se ha consolidado exitosamente para el Centro Educativo:
				{% if periodo == 100 %}
					RUDEES
				{% elseif periodo == 0 %}
					Inicio de Gestión
				{% elseif periodo == 1 %}
					Primer Trimestre
				{% elseif periodo == 2 %}
					Segundo Trimestre
				{% elseif periodo == 3 %}
					Tercer Trimestre
				{% elseif periodo == 4 %}
					Cuarto Trimestre
				{% elseif periodo == 5 %}
					Fin de Gestión
				{% endif %}
			</div>
		{% endif %}
	{% endif %}

	{% if estado=='CON_INSC' %}
		<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>Atención!</strong>
				Ya cerró el operativo de INSCRIPCIÓN
				
			</div>
	{% endif %}
	{% if estado=='CON_RUDE' %}
		<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>Atención!</strong>
				Ya cerró el operativo de RUDEES
				
			</div>
	{% endif %}
	{% if estado=='SIN_INSC' %}
		<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>Atención!</strong>
				Debe realizar el operativo de INSCRIPCIÓN
				
			</div>
	{% endif %}

	{% if estado=='SIN_RUDE' %}
		<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>Atención!</strong>
				Debe completar los RUDEES y realizar el cierre del operativo
			</div>
	{% endif %}
	{% if estado=='CON_BIM1' %}
		<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong>Atención!</strong>
				Ya cerró el operativo de 1ER TRIMESTRE
			</div>
	{% endif %}
	</div>
</div>
