{% extends app.session.get('layout') %}

{% block contentoption %}
<div class="row">
    <div class="col-lg-4">
        <div class="tile green">
            <h4><strong>¡Atención!</strong> </h4>
            <br>
            <p>
                La Unidad Educativa <strong>"{{sie}}"</strong> actualmente está trabajando el operativo <strong>"Primer Bimestre - {{gestion}}"</strong>.<br />
                Por tanto, este módulo se encuentra cerrado hasta consolidar la información correspondiente a dicho operativo.<br />
                <strong>Nota.- </strong>Cualquier cambio que desee realizar, debe esperar la habilitación del operativo siguiente.
            </p>
        </div>
    </div>
</div>
{% endblock %}