<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- Start widget newsletter -->
        <div class="panel text-center rounded shadow">
            <div class="panel-body bg-facebook rounded">
                <div class="inner-all">
                    <h4 class="text-uc">{{titulo}}</h4>
                    <div class="row">
                        <div class="col-md-4">
                            Código Distrito/Departamento: {{cod}}
                        </div>
                        <div class="col-md-4">
                            Distrito/Departamento: {{lugar}}
                        </div>
                        <div class="col-md-4">
                            Opción: {{opcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
