{% if app.session.get('lastOperativo') == 5%}
<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-lilac">
          <strong>Consolidación de Información Completa</strong> El acceso a las opciones es únicamente en modo vista
      </div>
    </div>
</div>
{% endif %}
