<form action="" id="formEmergente">
    <table class="table table-lilac table-striped">
        <thead>
            <tr>
                <th>Módulo Emergente</th>
                <th>Horas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 70%;">
                    <input type="hidden" name="smpid" value="{{smpid}}">
                    <input type="hidden" name="smtid" value="{{modulo.id}}">
                    <input type="text" name="emergente" value="{% if modulo %}{{modulo.modulo}}{% endif %}" class="form-control input-md" style="text-transform:uppercase" autocomplete="off" {% if app.session.get('ie_per_estado') == '0' %}disabled{% endif %}>
                </td>
                <td style="width: 30%;">
                    {% if moduloPeriodo %}
                        <select name="emergente_horas" class="form-control input-md" {% if app.session.get('ie_per_estado') == '0' %}disabled{% endif %}>
                            <option value="40" {% if moduloPeriodo.horasModulo == 40 %}selected{% endif %}>40 (Aprendizajes Elementales 1er. semestre)</option>
                            <option value="100" {% if moduloPeriodo.horasModulo == 100 %}selected{% endif %}>100 (Aprendizajes Elementales 2do. semestre)</option>
                            <option value="120" {% if moduloPeriodo.horasModulo == 120 %}selected{% endif %}>120 (Aprendizajes Avanzados 1er. y 2do. semestre)</option>
                        </select>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <div style="background:#EEEEEE; text-align:right; padding:5px;">
        <button type="button" class="btn btn-default" onclick="cerrarEmergente({{smpid}})">Cerrar</button>
        {% if app.session.get('ie_per_estado') != '0' %}
            <button type="button" class="btn btn-success" onclick="asignarEmergente();">Guardar Cambios</button>
        {% endif %}
    </div>
</form>