<div class="row">
  <div class="col-md-12">
     <div class="form-body">

       <div class="form-group">
            <label class="control-label">4.1 Señala la distancia en metros a los servicios que se encuentran próximos al edificio. Se considera "próximo", al servicio que se encuentra a un radio de 1000 metros aproximadamente respecto al edificio educativo.</label>
        </div><!-- /.form-group -->

        <div class="form-group">

        </div>
<!-- start first row -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un cento de salud próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-saludyes" checked="checked" type="radio" name="salud">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-saludno" type="radio" name="salud">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe una estación de bomberos próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-bomberoyes" checked="checked" type="radio" name="bomberos">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-bomberono" type="radio" name="bomberos">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
</div>
<!-- end first row -->
<!-- start second row -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un centro policial próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-policiayes" checked="checked" type="radio" name="policial">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-policiano" type="radio" name="policial">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un mercado próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-mercadoyes" checked="checked" type="radio" name="mercado">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-mercadono" type="radio" name="mercado">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
</div>
<!-- end second row -->
<!-- start third row -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un telecentro próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-telecentroyes" checked="checked" type="radio" name="telecentro">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-telecentrono" type="radio" name="telecentro">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe una organización comunitaria próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-comunitariayes" checked="checked" type="radio" name="comunitaria">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-comunitariano" type="radio" name="comunitaria">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
</div>
<!-- end third row -->
<!-- start fourth row -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un DNA o SLIM próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-slimyes" checked="checked" type="radio" name="slim">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-slimno" type="radio" name="slim">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe una universidad próxima?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-universidadyes" checked="checked" type="radio" name="universidad">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-universidadno" type="radio" name="universidad">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
</div>
<!-- end fourth row -->
<!-- start fiveth row -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe unidad(es) educativa(s) próxima(s)?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-unidadeseducativasyes" checked="checked" type="radio" name="unidadeseducativas">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-unidadeseducativasno" type="radio" name="unidadeseducativas">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Existe un instituto técnico-tecnológico próximo?</label>
      <div class="col-md-4">
          <div class="radio">
            <label class="radio-inline">
                <input id="radio-type-institutoyes" checked="checked" type="radio" name="instituto">
                Si
            </label>
            <label class="radio-inline">
                <input id="radio-type-institutono" type="radio" name="instituto">
                No
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="metros">
      </div>
    </div>
  </div>
</div>
<!-- end fiveth row -->



     </div>
  </div> <!-- end firt column -->



</div>
