{% extends 'layoutDgesttla.html.twig' %}

{% block contentoption %} 




    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Index</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Abrir</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->

    <div class="body-content animated fadeIn">

        <!--div class="panel-body bg-lilac rounded">
            <div class="inner-all">
                <h4 class="text-uc">Join the newsletter</h4>
                <p>Get the latest news on Blankon</p>
                <form class="form-horizontal">
                    <div class="form-group">
                       
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lilac btn-alt">Subscribe</button>
                    </div>
                </form>
            </div>
        </div-->

        <!-- /.panel-body -->
        <!-- Start misc widget -->
        <div class="row">
            <div class="col-md-12">
krlos
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a href="#"> 
                    <div class="panel panel-success rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-home fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <p class="h4 no-margin text-strong">Unidad Educativa</p>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a href="#"> 
                    <div class="panel panel-danger rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-user-plus fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <p class="h4 no-margin text-strong">Personal Administrativo</p>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a href="#"> 
                    <div class="panel panel-teal rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-user-plus fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <p class="h4 no-margin text-strong">Información Maestro</p>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a href="#"> 
                    <div class="panel panel-primary rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-group fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <p class="h4 no-margin text-strong">Información Estudiante</p>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </a>
            </div>
        </div><!-- /.row -->

        <!-- End misc widget -->

    </div><!-- /.body-content -->
    <!--/ End body content -->




    <!--/ End body content -->




    <!--/ End body content -->
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script>
    </script>
{%endblock%}

