{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}
    <style>
        [v-cloak]{
            display: none;
        }
    </style>

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Bono Familia <span>Seguimiento</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('apoderado_bono_familia_seguimiento_index')}}">Bono Familia</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Seguimiento</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div id="app" class="body-content">
        <div v-cloak>
            <div class="row" v-if="rol==8">
                <div class="list-group col-md-12">
                    <button @click.prevent="detalle(departamento.id)" v-for="(departamento, key) in arrayDepartamentos" :key="key" class="list-group-item list-group-item-action">
                        ${departamento.id}.- ${departamento.departamento}
                    </button>
                </div>
            </div>
            <div class="row" v-else-if="!vista && (rol==7 || rol ==10 || rol == 9)">
                <div class="col-md-12 table-responsive" v-if="arrayLista.length>0">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:15px">#</th>
                                <th>Departamento</th>
                                <th>Distrito</th>
                                <th>SIE</th>
                                <th>Unidad Educativa</th>
                                <th>Dependencia</th>
                                <th>Estudiantes</th>
                                <th>Apoderados registrados</th>
                                <th>Sin registro de apoderados</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Departamento</th>
                                <th>Distrito</th>
                                <th>SIE</th>
                                <th>Unidad Educativa</th>
                                <th>Dependencia</th>
                                <th>Estudiantes</th>
                                <th>Apoderados registrados</th>
                                <th>Sin registro de apoderados</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr v-for="(registro, key) in arrayLista" :key="key">
                                <td class="text-center">${key + 1}</td>
                                <td>${registro.depto}</td>
                                <td>${registro.descdistrito}</td>
                                <td>${registro.codue}</td>
                                <td>${registro.descue}</td>
                                <td>${registro.dependencia}</td>
                                <td>${registro.efectivos}</td>
                                <td>${registro.apoderado}</td>
                                <td class="text-danger">${registro.efectivos - registro.apoderado}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" v-else>
                    <div class="alert alert-info" role="alert">
                        No tiene observaciones
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{parent()}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            arrayDepartamentos: [],
			arrayLista: [],
			rol: 0,
            vista: true
        },
		mounted(){
			this.cargar();
		},
        methods: {
            cargar() {
				axios.get(Routing.generate('apoderado_bono_familia_seguimiento_cargar_datos'))
					.then(response => {
						this.arrayDepartamentos = response.data.departamentos;
                        this.arrayLista = response.data.lista;
						this.rol = response.data.rol;
                        this.vista = response.data.vista;
					})
					.catch(e => {
						console.log(e);
					});
			},
            detalle(idDpto) {
                axios.get(Routing.generate('apoderado_bono_familia_seguimiento_detalle', {'idDpto': idDpto}))
					.then(response => {
						this.arrayDepartamentos = response.data.departamentos;
                        this.arrayLista = response.data.lista;
						this.rol = response.data.rol;
                        this.vista = response.data.vista;
					})
					.catch(e => {
						console.log(e);
					});
            }
        }
    });
    </script>
{% endblock %}