
                              <div class="row">
                                <div class="col-md-6">
                                   <div class="form-body">

                                     <div class="form-group">
                                          <label class="control-label">1.1 El edificio educativo dispone de energia electrica?</label>
                                               
                                            <div class="radio">
                                              <label class="radio-inline">
                                                  <input id="form_disponeelectrica" name="form[electrica][disponeelectrica]" checked="checked" type="radio" value="yes">
                                                  Si
                                              </label>
                                              <label class="radio-inline">
                                                  <input id="form_disponeelectrica" name="form[electrica][disponeelectrica]" type="radio" value="no">
                                                  No
                                              </label>
                                            </div>
        
                                      </div><!-- /.form-group -->
                                      <div class="form-group">
                                            <label class="control-label">1.2 Fuente Principal de energia</label>
                                            <select id="form_energia" name="form[electrica][energia]" class="form-control input-sm mb-15">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                            </select>
                                            <label class="control-label">Otro</label>
                                            <input class="form-control" type="text" id="form_otro" name="form[electrica][otro]">
                                        </div>
                                      <div class="form-group">
                                           <label class="control-label">1.3 Tipos de instalacion</label>
                                                <div class="radio">
                                                  <label class="radio-inline">
                                                      <input id="form_tipoinstalation" checked="checked" type="radio" name="form[electrica][tipoinstalation]" value="monofasico">
                                                      Monofásico
                                                  </label>
                                                  <label class="radio-inline">
                                                      <input id="form_tipoinstalation" type="radio" name="form[electrica][tipoinstalation]" value="trifasico">
                                                      Trifásico
                                                  </label>
                                                </div>

                                       </div><!-- /.form-group -->


                                   </div>
                                </div> <!-- end firt column -->
                                <div class="col-md-6">
                                   <div class="form-body">

                                     <div class="form-group">
                                          <label class="control-label">1.4 Disponibilidad del servicio</label>dfasdfasd
                                          <select id="form_disponibilidaddeservicio" name="form[electrica][disponibilidaddeservicio]" class="form-control input-sm mb-15">
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div><!-- /.form-group -->

                                      <div class="form-group">
                                           <label class="control-label">1.5 Numero de ambientes que tiene luz electrica:</label></BR>
                                           <label class="control-label">Ambientes pedagogicos</label>
                                           <input class="form-control" type="text" id="form_tipoinstalation" name="form[electrica][numeroambientes]">
                                       </div><!-- /.form-group -->
                                       <div class="form-group">

                                             <label class="control-label">Ambientes no pedagogicos</label>
                                             <input class="form-control" type="text" id="form_ambnopedagogicos" name="form[electrica][ambnopedagogicos]">
                                         </div>
                                         <div class="form-group">

                                               <label class="control-label">Banos</label>
                                               <input class="form-control" type="text" id="form_banos" name="form[electrica][banos]">
                                           </div>

                                   </div>
                                </div> <!-- end second column -->


                              </div>
