<div class="row">
  <div class="col-md-12">
     <div class="form-body">

       <div class="form-group">
            <label class="control-label">3.1 El edificio educativo cuenta con instalaciones de saneamiento (baños)?</label>

            <div class="rdio rdio-theme">
                <input id="radio-type-saneamientoyes" checked="checked" type="radio" name="saneamiento">
                <label for="radio-type-saneamientoyes">Si</label>
            </div>
            <div class="rdio rdio-theme rounded">
                <input id="radio-type-saneamientono" type="radio" name="saneamiento">
                <label for="radio-type-saneamientono">No</label>
            </div>

        </div><!-- /.form-group -->
        <div class="form-group">
            <label class="control-label">3.2 Cual es el medio para la eliminacion de excretas?</label>
        </div>
        <div class="form-group">
              <div class="col-md-6">
                  <div class="ckbox ckbox-theme">
                      <input id="checkbox-type-default7"  type="checkbox">
                      <label for="checkbox-type-default7">Red de alcantarillado</label>
                  </div>
                  <div class="ckbox ckbox-theme rounded">
                      <input id="checkbox-type-rounded8"  type="checkbox">
                      <label for="checkbox-type-rounded8">Cámara séptica</label>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="ckbox ckbox-theme">
                      <input id="checkbox-type-default9"  type="checkbox">
                      <label for="checkbox-type-default9">Pozo de absorción</label>
                  </div>
                  <div class="ckbox ckbox-theme rounded">
                      <input id="checkbox-type-rounded10"  type="checkbox">
                      <label for="checkbox-type-rounded10">A cielo abierto</label>
                  </div>
              </div>
              <label class="control-label">Otro</label>
              <input class="form-control" type="text">
        </div>


     </div>



  </div> <!-- end firt column -->

  <div class="col-md-6">
     <div class="form-body">
       <div class="form-group">
            <label class="control-label">3.3 Como se realiza la eliminación de basura?</label>
            <select id="form_disponibilidad" name="form[disponibilidad]" class="form-control input-sm mb-15">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div><!-- /.form-group -->
     </div>
  </div> <!-- end second column -->
  <div class="col-md-6">
     <div class="form-body">
       <div class="form-group">
            <label class="control-label">3.4 Periodicidad de la eliminación de basura?</label>
            <select id="form_disponibilidad" name="form[disponibilidad]" class="form-control input-sm mb-15">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div><!-- /.form-group -->
     </div>
  </div> <!-- end second column -->




  <div class="form-group">
       <label class="control-label">3.4 la instalación de saneamiento estan generalmente en buen estado y accesibles apra los estudiantes?</label>

       <div class="row">
         <div class="col-md-4">
                <label class="control-label">Hay buena ventilación?</label>

                <div class="rdio rdio-theme">
                    <input id="radio-type-ventilaciones" checked="checked" type="radio" name="saneamiento">
                    <label for="radio-type-ventilacionyes">Si</label>
                </div>
                <div class="rdio rdio-theme rounded">
                    <input id="radio-type-ventilacionno" type="radio" name="saneamiento">
                    <label for="radio-type-ventilacionno">No</label>
                </div>
         </div>
         <div class="col-md-4">
                <label class="control-label">Hay buenas condiciones de luz natural?</label>

                <div class="rdio rdio-theme">
                    <input id="radio-type-luzyes" checked="checked" type="radio" name="saneamiento">
                    <label for="radio-type-luzyes">Si</label>
                </div>
                <div class="rdio rdio-theme rounded">
                    <input id="radio-type-luzno" type="radio" name="saneamiento">
                    <label for="radio-type-luzno">No</label>
                </div>
         </div>
         <div class="col-md-4">
                <label class="control-label">Hay buena ventilación?</label>

                <div class="rdio rdio-theme">
                    <input id="radio-type-privacidadyes" checked="checked" type="radio" name="saneamiento">
                    <label for="radio-type-privacidadyes">Si</label>
                </div>
                <div class="rdio rdio-theme rounded">
                    <input id="radio-type-privacidadno" type="radio" name="saneamiento">
                    <label for="radio-type-privacidadno">No</label>
                </div>
         </div>

       </div>
  </div><!-- /.form-group -->

  <div class="panel rounded shadow">
    <div class="panel-body">
      <button type="button" class="btn btn-inverse btn-stroke">Adicionar Bateria de Banhos</button>
    </div>
  </div>
  <div class="panel rounded shadow">
    <div class="panel-body">
      <button type="button" class="btn btn-inverse btn-stroke">Adicionar Vestuarios</button>
    </div>
  </div>

</div>
