<div class="row">
  <div class="col-md-6">
     <div class="form-body">

       <div class="form-group">
            <label class="control-label">2.1 El edificio educativo dispone de servicio de agua?</label>

            <div class="rdio rdio-theme">
                <input id="radio-type-aguayes" checked="checked" type="radio" name="servicioagua">
                <label for="radio-type-aguayes">Si</label>
            </div>
            <div class="rdio rdio-theme rounded">
                <input id="radio-type-aguano" type="radio" name="servicioagua">
                <label for="radio-type-aguano">No</label>
            </div>

        </div><!-- /.form-group -->
        <div class="form-group">
              <label class="control-label">2.2 El medio o sistema de suministro de agua es por:</label>
              <select id="form_suministro" name="form[suministro]" class="form-control input-sm mb-15">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
              </select>
          </div>
        <div class="form-group">
             <label class="control-label">El edificio cuenta con:</label>
         </div><!-- /.form-group -->
        <div class="form-group">
             <label class="control-label">2.3 Tanque de almacenamiento de agua?:</label>
                 <div class="rdio rdio-theme">
                     <input id="radio-type-tanqueyes" checked="checked" type="radio" name="tanqueagua">
                     <label for="radio-type-tanqueyes">Si</label>
                 </div>
                 <div class="rdio rdio-theme rounded">
                     <input id="radio-type-tanqueno" type="radio" name="tanqueagua">
                     <label for="radio-type-tanqueno">No</label>
                 </div>
         </div><!-- /.form-group -->
        <div class="form-group">
             <label class="control-label">2.4 Bomba de agua?</label>
                 <div class="rdio rdio-theme">
                     <input id="radio-type-bombayes" checked="checked" type="radio" name="bombaagua">
                     <label for="radio-type-bombayes">Si</label>
                 </div>
                 <div class="rdio rdio-theme rounded">
                     <input id="radio-type-bombano" type="radio" name="bombaagua">
                     <label for="radio-type-bombano">No</label>
                 </div>
         </div><!-- /.form-group -->


     </div>
  </div> <!-- end firt column -->
  <div class="col-md-6">
     <div class="form-body">

       <div class="form-group">
            <label class="control-label">2.5 Número de ambientes que cuenten con servicio de agua, pero no son baños?</label>
            <input class="form-control" type="text">
        </div><!-- /.form-group -->

        <div class="form-group">
             <label class="control-label">2.6 El acceso al servicio de provision de agua es:</label>
             <select id="form_suministro" name="form[suministro]" class="form-control input-sm mb-15">
                 <option>Option 1</option>
                 <option>Option 2</option>
                 <option>Option 3</option>
             </select>
       </div><!-- /.form-group -->
        <div class="form-group">
             <label class="control-label">2.7 El agua del edificio educativo, es utilizada mayormente para:</label>
             <select id="form_suministro" name="form[suministro]" class="form-control input-sm mb-15">
                 <option>Option 1</option>
                 <option>Option 2</option>
                 <option>Option 3</option>
             </select>
       </div><!-- /.form-group -->
        <div class="form-group">
             <label class="control-label">2.8 Utiliza algun tipo de purificador d agua?</label>
             <select id="form_suministro" name="form[suministro]" class="form-control input-sm mb-15">
                 <option>Option 1</option>
                 <option>Option 2</option>
                 <option>Option 3</option>
             </select>
       </div><!-- /.form-group -->

       <div class="form-group">
            <label class="control-label">2.9 ¿Existen ambientes que cuentan con servicio de agua, pero no son baños?</label>
          </br>
            <div class="col-md-6">
                <div class="ckbox ckbox-theme">
                    <input id="checkbox-type-default2"  type="checkbox">
                    <label for="checkbox-type-default2">Amb. pedagogicos</label>
                </div>
                <div class="ckbox ckbox-theme rounded">
                    <input id="checkbox-type-rounded2"  type="checkbox">
                    <label for="checkbox-type-rounded2">Amb. deportivos/recreativos</label>
                </div>
                <div class="ckbox ckbox-theme rounded">
                    <input id="checkbox-type-rounded3"  type="checkbox">
                    <label for="checkbox-type-rounded3">Amb. administrativos</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ckbox ckbox-theme">
                    <input id="checkbox-type-default4"  type="checkbox">
                    <label for="checkbox-type-default4">Cocina</label>
                </div>
                <div class="ckbox ckbox-theme rounded">
                    <input id="checkbox-type-rounded5"  type="checkbox">
                    <label for="checkbox-type-rounded5">Comedor</label>
                </div>
                <div class="ckbox ckbox-theme rounded">
                    <input id="checkbox-type-rounded6"  type="checkbox">
                    <label for="checkbox-type-rounded6">Consultorios</label>
                </div>
            </div>
        </div>




     </div>
  </div> <!-- end second column -->


</div>
