{% extends 'layoutPermanente.html.twig' %}

{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-users"></i> Cursos y alumnos <span>Lista de cursos y alumnos del centro de educación alternativa.</span></h2>
    </div>
    <!--/ End body content -->




{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>

    </script>
{%endblock%}
