{% extends "::base.html.twig" %}

{% block title %}SieRegularBundle:GestionaOperativoEspecialidad:changeStatusOperativo{% endblock %}

{% block body %}
<h1>Welcome to the GestionaOperativoEspecialidad:changeStatusOperativo page</h1>
{% endblock %}
