{% extends "::base.html.twig" %}

{% block title %}SieRegularBundle:QAHistoryInscription:doInscription{% endblock %}

{% block body %}
<h1>Welcome to the QAHistoryInscription:doInscription page</h1>
{% endblock %}
