# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
#    views_materialice_functions:
#        class: YourCompany\YourBundle\Controller\YourController
    sie.appweb.form.autocomplete_entity_type:
        class: Sie\AppWebBundle\Form\AutocompleteEntityType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type, alias: autocomplete_entity }

    app.twig_extension:
        class: Sie\DiplomaBundle\Extension\AppExtension
        public: false
        tags:
            - { name: twig.extension }

    sie_app_web.funciones:
        class: Sie\AppWebBundle\Services\Funciones
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"

    notas:
        class: Sie\AppWebBundle\Services\Notas
        arguments: ["@doctrine.orm.entity_manager"]
        calls:
            - [setFunciones, ["@sie_app_web.funciones"]]

    maestroAsignacion:
        class: Sie\AppWebBundle\Services\MaestroAsignacion
        arguments: ["@doctrine.orm.entity_manager"]
        calls:
            - [setFunciones, ["@sie_app_web.funciones"]]

    funciones:
        class: Sie\AppWebBundle\Services\Funciones
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"

    areas:
        class: Sie\AppWebBundle\Services\Areas
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"
        calls:
            - [setServices, ["@sie_app_web.funciones","@notas"]]

    login:
        class: Sie\AppWebBundle\Services\Login
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"

    seguimiento:
        class: Sie\AppWebBundle\Services\Seguimiento
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"

    dgfunctions:
        class: Sie\AppWebBundle\Services\DgesttlaFunction
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            router: "@router"
