principal_web:
    path:    /
    defaults: { _controller: SieAppWebBundle:Principal:index }
    
siged_director_seleccionar_unidad_educativa:
    path:    /{ue}/dirseluniedu
    defaults: { _controller: SieAppWebBundle:Login:dirseluniedu }    
    
siged_seleccionar_modalidad_tipo:
    path:    /seleccionar_modalidad_tipo
    defaults: { _controller: SieAppWebBundle:Principal:actualizarTipoModalidad }
    options:
         expose: true



siged_get_modalidad_tipo:
    path:    /get_modalidad_tipo
    defaults: { _controller: SieAppWebBundle:Principal:getTipoModalidad }
    options:
         expose: true


siged_get_inicio_clases:
    path:    /get_inicio_clases
    defaults: { _controller: SieAppWebBundle:Principal:getInicioClases }
    options:
         expose: true


siged_mostrar_resultados_reporte_modalidad_atencion:
    path:    /mostrar_resultados_reporte_modalidad_atencion
    defaults: { _controller: SieAppWebBundle:Principal:mostrarResultadosReporteModalidadAtencion }
    options:
         expose: true


siged_get_distritos_modalidad_atencion:
    path:    /get_distritos_modalidad_atencion
    defaults: { _controller: SieAppWebBundle:Principal:getDistritos }
    options:
         expose: true

siged_exportar_excel_resultados_reporte_modalidad_atencion:
    path:    /export_excel_resultados_reporte_modalidad_atencion/{gestionInput}/{departamentoInput}/{distritoInput}/{mesInput}
    defaults: { _controller: SieAppWebBundle:Principal:mostrarResultadosReporteModalidadAtencionExcel }
    options:
         expose: true

siged_descargar_SPN:
    path:    /siged_descargar_SPN/
    defaults: { _controller: SieAppWebBundle:Principal:descargarSPN }
    options:
         expose: true