{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:EstudianteTrabajaNuevo:doinscription{% endblock %}

{% block body %}
<h1>Welcome to the EstudianteTrabajaNuevo:doinscription page</h1>
{% endblock %}
