{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:EstudianteTrabajaNuevo:doInscription{% endblock %}

{% block body %}
<h1>Welcome to the EstudianteTrabajaNuevo:doInscription page</h1>
{% endblock %}
