{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:EstudianteTrabajaNuevo:index{% endblock %}

{% block body %}
<h1>Welcome to the EstudianteTrabajaNuevo:index page</h1>
{% endblock %}
