<style type="text/css">
    input[type="radio"]{
        margin-left: 15px;
        margin-right: 10px;
    }

    .jupper{
        text-transform: uppercase;
    }
    .mensaje{
        margin-bottom: 10px;
    }
    .mensajeSuccess{
        padding: 10px;
        background: #DBFFE2;
        color: #679C68;
    }
    .mensajeWarning{
        padding: 10px;
        background: #FEF7DC;
        color: #B0AE34;
    }
    .input[type="text"]{
        color: 
    }
</style>
<div class="modal-dialog" style="width: 900px">
    <div class="modal-content">
        <div class="panel panel-tab panel-tab-double">
            <div class="panel-heading no-padding">
                <div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;">
                    <h4 style="padding:10px 0px 0px 10px; text-align:center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        BUSQUEDA ESTUDIANTE Y REGISTRO TRABAJO <br>
                    </h4>
                </div>
            </div>
            <div class="panel-body" id="modal-body">
                {# <div class="mensaje"></div> #}
                <div id="idfind">
                    <h5>Buscar estudiante</h5>
                    <form id="formEstudiante" onsubmit="buscarEstudiante(); return false;">
                        <div class="form-group col-md-8">
                            {{form_widget(form.rudeoci)}}
                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn btn-info btn-block" type="submit"> <i class="fa fa-search"></i> Buscar</button>
                        </div>
                        {{ form_widget(form) }}
                    </form>
                </div>
                <div id="resultado">
                	
                </div>
                <div id="registrados">
                	{% include 'SieHerramientaBundle:EstudianteTrabajaNuevo:list.html.twig' with {'registrados': registrados} %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var buscarEstudiante = function(){

    	var rudeoci = $('#form_rudeoci').val();
    	if(rudeoci != ''){
    		var data = $('#formEstudiante').serialize();
    		$.ajax({
                  type: 'post',
                  data: data,
                  url: Routing.generate('estudianteTrabajaNuevo_buscar'),
                  beforeSend: function () {
                      $("#resultado").empty();
                      $("#resultado").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                  },
                  success: function (data) {
                      $("#resultado").empty();
                      $("#resultado").append(data);
                      validarOtro();
                  },
                  statusCode: {
                      500: function () {

                      },
                      404: function () {

                      }
                  }
            });

    	}else{
    		alert('El campo RUDE es requerido');
    		return false;
    	}
    };
   

</script>