{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:EstudianteTrabajaNuevo:list{% endblock %}

{% block body %}
<h1>Welcome to the EstudianteTrabajaNuevo:list page</h1>
{% endblock %}
