{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:EstudianteTrabajaNuevo:Result{% endblock %}

{% block body %}
<h1>Welcome to the EstudianteTrabajaNuevo:Result page</h1>
{% endblock %}
