
				<div class="col-md-10 col-xs-12 col-md-offset-1 caja">
					<article>
					    {#<h3  style="color: #1b3f61;text-align:center;">EL SISTEMA ESTÁ TEMPORALMENTE FUERA DE SERVICIO.</h3>#}
					    <div>
					        {#<p>Disculpe las molestias, estamos en mantenimiento y procesamiento de datos en este momento.
					        Volveremos a estar en línea en breve (Lunes, 23 de noviembre de 2020).
					        </p>
					        <p>&mdash; SIE</p>
					        #}
					        <center>
					        <img loading="lazy" class="alignnone wp-image-748 size-medium" alt="mantenimiento bjp" width="600" height="400" srcset="{{asset('webherramienta/img/logo/html/bjp.jpeg')}}" sizes="(max-width: 225px) 100vw, 225px">
					        </center>
					    </div>
					    
					    
					</article>					
				</div>
