<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="callout callout-warning text-justify">
            <strong>¡Atención!</strong> La Unidad Educativa <strong>"{{institucion.id}} - {{institucion.institucioneducativa}}"</strong> actualmente está trabajando el operativo <strong>"{{operativo.notaTipo}} - {{gestion}}"</strong>.<br />
            Por tanto, este módulo se encuentra cerrado hasta consolidar la información correspondiente a dicho operativo.<br />
            <strong>Nota.- </strong>Cualquier cambio que desee realizar, debe esperar la habilitación del operativo siguiente.
        </div>
    </div>
</div>