{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}
    <BR>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('messagecurdup') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}

            </div>
        </div>

{% endblock %}

68689888