<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Detalle de la Inconsistencia</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="pdetalle" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row"><strong>Descripción</strong></th><td>{{validacionReglaTipo.descripcion}}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong>Detalle</strong></th><td>{{validacionReglaTipo.detalle}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>