<center>

<div class="">
    {% if sw %}
        <a target="" href="{{ path('herramienta_inbox_downloadRude', { 'file':file,'datadownload':datadownload } )}}" onclick="return confirm('¿Está seguro de descargar el archivo?, Si no está seguro presione CANCELAR.')"> 
            <h3>  <p class="label label-info"> <i class="fa fa-download"></i> ARCHIVO GENERADO</p></h3>
        </a> 
    {% else %}
        <div class="alert alert-danger">
            <strong></strong> Problemas al descargar el archio, el archivo no presetan Inicio de Gesti&oacute;n
        </div>
    {% endif %}
</div>	
</center>