<center>
<div class="">
    <a target="" href="{{ path('downloadrudefile_download', { 'file':file,'datadownload':datadownload } )}}" onclick="return confirm('¿Está seguro de descargar el archivo?, Si no está seguro presione CANCELAR.')"> 
    	<h3>  <p class="label label-info"> <i class="fa fa-download"></i> ARCHIVO GENERADO</p></h3>
    </a> 
    
</div>	
</center>