{% extends 'SieRieBundle:Default:rieConsulta.html.twig' %}

{% block contentoption %}

    <div class="block-header">
        <h2>INFORMACIÓN PÚBLICA DE INSTITUTOS TÉCNICOS Y TECNOLÓGICOS</h2>
    </div>
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li class="active"><a href="{{path('consulta_rie')}}">Inicio</a></li>
    </ol>
	<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body" style="height:550px;">
					<div class="header">
						<h2>
							Esté sitio web le brinda información sobre Institutos Técnicos y Tecnológicos existentes a nivel nacional.
							<small>Disponible la descarga de:</small>
						</h2>
					</div>
					<p>
						<ul>
							<li>Formulario Local Educativo</li>
							<li>Formulario Localización Geográfica</li>
							<li>Formulario Cambio de Localización Geográfica</li>
						</ul>
					</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

