
{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
<style type="text/css">
.validation{ 
  background: #12c593 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.newRude{ 
  background: #20e5fb !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.custom-date{
	background: #FFF !important;
}
</style>
	<style>
		body{
			background: #EEEEEE;
			margin: 0;
			padding: 0;
		}
		[v-cloak]{
			display: none;
		}
		.jupper{
			text-transform: uppercase;
		}
		.titulo{
			margin-bottom: 15px;
		}
		.caja{
			background: #FFFFFF;
			padding: 10px;
			/*width: 500px;*/
			margin-top: 50px;
			/*margin-left: auto;*/
			/*margin-right: auto;*/
		}
		.caja h2{
			text-align: center;
		}
		.tab-pane{
			padding-top: 10px;
		}
		.secundario{
			color:#CCCCCC;
			font-style: italic;
			font-size: 0.8em;
		}
		.respuesta p{
			margin-bottom: 10px;
		}
		.respuesta h3{
			text-align: center;
			margin-bottom: 15px;
		}
		.respuesta .botones{
			text-align: center;
		}
		.cortina{
			position: absolute;
			width: 100%;
			height: 100%;
			background: #CCCCCC;
			opacity: 0.6;
			z-index: 100;
			text-align: center;
			font-size: 1.5em;
			padding-top: 200px;
		}
		.form-control .popover {
  			width:600px;
  			height:250px;
		}

		.popover {
		  	/*max-width: 700px;*/
		  	width: 600px;
		  	background: #EFF7FF;
		  	color: #11BCFB;
		}
		.subtitulo{
			font-size: 1.2em;
		}
	</style>


    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Impresión Libreta <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Impresión Libreta</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Buscar</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->


    <!-- /.row -->
	<div id="app" v-cloak>
		<div v-if="cortina" class="cortina">
			{# <i class="fa fa-refresh fa-spin"></i> Procesando... #}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 caja">
					
					<div v-show="!validado" class="contenido">
						<p class="subtitulo">Buscar por:</p>
						
						<div class="row">
							<div class="col-md-12">
								<div role="tabpanel">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" :class="{active: opcion == 1}" @click="opcion = 1">
											<a role="tab" data-toggle="tab">Código Rude</a>
										</li>
										<li :class="{active: opcion == 2}" @click="opcion = 2">
											<a aria-controls="tabcarnet" role="tab" data-toggle="tab">Carnet</a>
										</li>
									</ul>
									<!-- Tab panes -->
									<div class="tab-content">
										<div role="tabpanel" :class="['tab-pane', {active: opcion == 1}]">
											<div class="row">
												<div class="form-group col-md-12">
													<label>Código Rude <i class="fa fa-info-circle" data-toggle="popover" data-placement="top" data-content="El Código Rude lo puede encontrar en la libreta electrónica del estudiante de una gestion pasada" data-trigger="hover"></i> </label>
													<input type="text" v-model="estudiante.codigoRude" class="form-control jupper" maxlength="18" v-on:keypress="alfanumerico">
												</div>
											</div>
										</div>
										<div role="tabpanel" :class="['tab-pane', {active: opcion == 2}]">
											<div class="row">
												<div class="form-group col-md-8">
													<label>Carnet</label>
													<input type="text" v-model="estudiante.carnet" class="form-control jupper" maxlength="10" v-on:keypress="numerico">
												</div>
												<div class="form-group col-md-4">
													<label>Complemento <i class="fa fa-info-circle" data-toggle="popover" data-placement="top" data-content="El complemento consta de 2 dígitos que se usan para diferenciar números de carnet idénticos, no es lo mismo que el lugar de expedición, por favor NO colocar abreviaturas de departamentos" data-trigger="hover"></i> </label>
													<input type="text" v-model="estudiante.complemento" class="form-control jupper" maxlength="2" v-on:keypress="alfanumerico">
												</div>
											</div>
										</div>
                                        <div>
                                            <div class="row">
                                                <div class="form-group  col-md-12">
                                                    <label for="exampleFormControlSelect1">Gestión</label>
                                                    <select class="form-control" id="gestionFormControlSelect1" v-model="estudiante.gestion">
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
													<option value="2021">2021</option>
													<option value="2022">2022</option>
                                                    </select>
                                                </div> 
                                            </div>                                       
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<br>

						

						<div class="col-md-12 text-center">
							<button type="button" class="btn btn-success" @click="consultar">Buscar</button>
						</div>
					</div>
					<div v-if="validado" class="respuesta">

						<div class="alert" :class="[{'alert-success':datos.statusEstudiante == 'success'}, {'alert-warning':datos.statusEstudiante == 'warning'}]">
							Información de la/el PARTICIPANTE:
							<table class="table">
							<thead>
								<tr>
								<th scope="col">Cod. Rude</th>
								<th scope="col">CI</th>
								<th scope="col">Paterno</th>
								<th scope="col">Materno</th>
								<th scope="col">Nombre(s)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>${estudiante.codigoRude}</td>
								<td>${estudiante.carnet}</td>
								<td>${estudiante.materno}</td>
								<td>${estudiante.paterno}</td>
								<td>${estudiante.nombre}</td>
								</tr>
							</tbody>
							</table>							

							<p> 
								<ul>
									<li>
										<strong>Descargar</strong>
									</li>
									<li v-for="element in DBUrlReport">
										<a v-bind:href="element.urlreport">
                                                    <i class="fa fa-download"> DESCARGAR LIBRETA</i>
                                        </a>
									</li>
									<li v-else>
										NO PERMITIDO LA DESCARGA
									</li>


								</ul>


							
							</p>
														
						</div>
						
						<div>

				
						</div>

						<div class="botones" v-if='!showFormReclamo'>
							<button type="button" @click="cerrar" class="btn btn-default">Volver </button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript">
		// $("#form_idfecnac").inputmask({ "alias": "dd-mm-yyyy", 'placeholder':'dd-mm-aaaa' });
	</script>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>   
      <script src="{{asset('js/inputmask.js')}}"></script>
    <script type="text/javascript">

    		$(function () {
			
		})

		var app = new Vue({
		    delimiters: ['${', '}'],
		    el: '#app',
		    data: {
		    	state: {isSending: false},
		    	errores: [],
		    	opcion: 1,
		    	niveles: [],
		    	grados: [],
		    	gradosDisponibles: [],
                urlreport: '',
                showbuttonPDF: '',
		    	apoderado: {
		    		carnet: '',
		    		complemento: ''
		    	},
		    	estudiante: {
		    		/*codigoRude: '4073040820205783 809700692017061 718500012020019',*/
					codigoRude: '',
					codigoRudeId: '',
		    		carnet: '',
		    		complemento: '',
		    		nombre: '',
		    		paterno: '',
		    		materno: '',
		    		fechaNacimiento: '',
		    		nivel: '',
					estId: '',
		    		grado: ''
		    	},
				dataClaim: {persona:{swchangeTutor:false,paterno:'',materno:'',nombre:''}, student:{}} ,
				DBTiposReclamos: {},
				DBObservationsStudent: {},
				DBTutorInfo: {},
		    	validado: false,
		    	cortina: false,
				showFormReclamo:false,
		    	datos: [],
                DBUrlReport: {},
		    	
		    },
		    mounted(){

		    },
		    methods: {
		    	actualizarGrados(){
		    		if (this.estudiante.nivel == 11) {
		    			this.estudiante.grado = '1';
		    			this.gradosDisponibles = [];
		    			console.log(this.grados);
		    			let me = this;
		    			$.each(this.grados, function(index, val) {
		    				console.log(val);
		    				if (val.id == 1 || val.id == 2) {
		    				 	me.gradosDisponibles.push(me.grados[index]);
		    				}
		    			});
		    		}else{
		    			this.gradosDisponibles = this.grados;
		    		}
		    	},

		    	consultar(){
		    		this.errores = [];
		    		this.state.isSending = false;
                    this.urlreport ='';
                    this.showbuttonPDF ='';
		    		if (this.opcion == 1) {
		    			if (this.estudiante.codigoRude == '') {
		    				this.errores.push('Código Rude');
		    			}
		    		}
		    		if (this.opcion == 2) {
		    			if (this.estudiante.carnet == '') {
		    				this.errores.push('Carnet del estudiante');
		    			}
		    		}
		    			    	
		    		if (this.errores.length > 0) {
			    		let texto = '<div class="errores">';
			    		$.each(this.errores, function (i, value) {
	                        texto = texto + '<li>' + value + '</li>';
	                    });
	                    texto = texto + '</div>';
		    			Swal.fire({
		    		  		title:'Complete los siguientes datos',
		    		  		html:texto,
		    		  		type:'warning'
		    			});
		    			return false;
		    		}
		    		this.datos = [];
		    		this.validado = false;
		    		this.cortina = true;
	    			Swal.fire({
	    		  		title:'Procesando',
	    		  		html:'<div style="margin-bottom:20px"> <i class="fa fa-search fa-spin"></i> Espere un momento</div> ',
	    		  		type:'info',
	    		  		showConfirmButton: false,
	    			});
		    		axios.post(Routing.generate('printRecordCard_buscar', { estudiante: this.estudiante, opcion: this.opcion}))
		    			.then(response => {
		    				if (response.data.status === 'error') {
			    				Swal.fire(
	    					  		'Aviso',
	    					  		response.data.msg,
	    					  		'info'
	    						)
		    				}

		    				if (response.data.status == 'success') {
		    					Swal.close();
								
		    					this.datos = response.data.datos;
								
								this.showFormReclamo = this.datos.showFormReclamo;
								this.estudiante.nombre = this.datos.arrStudent.nombre;
								this.estudiante.paterno = this.datos.arrStudent.paterno;
								this.estudiante.materno = this.datos.arrStudent.materno;
								this.estudiante.carnet = this.datos.arrStudent.carnet;
								this.estudiante.estId = this.datos.arrStudent.estId;
								this.estudiante.estInsId = this.datos.arrStudent.estInsId;
								/*this.estudiante.idObsBono = this.datos.arrStudent.idObsBono;*/
								this.estudiante.codigoRudeId = this.datos.arrStudent.codigoRude;
								this.estudiante.institucioneducativaId = this.datos.arrStudent.institucioneducativaId;
								/*this.urlreport = this.datos.arrToPrint.urlreport;
                                this.showbuttonPDF = this.datos.arrToPrint.showbuttonPDF;*/
                                this.DBUrlReport = this.datos.arrUrlRerport;
								
		    					this.validado = true;
		    				}
		    				this.cortina = false;
		    			})
		    			.catch(e => {
		    				Swal.fire(
    					  		'Aviso',
    					  		'No se pudo realizar la verficación',
    					  		'error'
    						)
		    				this.cortina = false;
		    			});
		    	},
				validEmail(email){
					var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(email);
				},			
		
		    	cerrar(){
		    		this.validado = false;
		    		this.opcion = 1;
		    		this.apoderado.carnet = '';
		    		this.apoderado.complemento = '';
		    		this.estudiante.codigoRude = '';
		    		this.estudiante.carnet = '';
		    		this.estudiante.complemento = '';
		    		this.estudiante.nombre = '';
		    		this.estudiante.paterno = '';
		    		this.estudiante.materno = '';
		    		this.estudiante.fechaNacimiento = '';
		    		this.estudiante.nivel = '';
		    		this.estudiante.grado = '';
                    this.urlreport ='';
                    this.showbuttonPDF ='';
                    this.DBUrlReport = '';
		    	},
		    	validarFormatoFecha(campo) {
	    	        var RegExPattern = /^\d{1,2}\-\d{1,2}\-\d{4}$/;
	    	        if ((campo.match(RegExPattern)) && (campo!='')) {
	    	            return true;
	    	        } else {
	    	            return false;
	    	        }
		    	},
		    	numerico: function(event){
		    	    var k = event.charCode || event.keyCode;
		    	    if ((k < 48 || k > 57) //NUmeros
		    	        && (k != 13) //ENTER
		    	        && (k != 8) //retroceso
		    	        && (k != 9) //tab
		    	    ){
		    	        event.preventDefault();
		    	        return false;
		    	    }
		    	},
		    	alfabetico: function(event){
	                var k = event.charCode || event.keyCode;
	                if ((k < 97 || k > 122)//letras minusculas
	                    && (k < 65 || k > 90) //letras mayusculas
	                    && (k != 13) //ENTER
	                    && (k != 8) //retroceso
	                    && (k != 9) //tab
	                    && (k != 241) //ñ
	                     && (k != 209) //Ñ
	                     && (k != 32) //espacio
	                     && (k != 225) //á
	                     && (k != 233) //é
	                     && (k != 237) //í
	                     && (k != 243) //ó
	                     && (k != 250) //ú
	                     && (k != 193) //Á
	                     && (k != 201) //É
	                     && (k != 205) //Í
	                     && (k != 211) //Ó
	                     && (k != 218) //Ú
	                     && (k != 44) //coma ,
	                     && (k != 46) //punto .
	                ){
	                	event.preventDefault();
	                	return false;
	                }
	            },
		    	alfanumerico: function(event){
	                var k = event.charCode || event.keyCode;
	                if ((k < 97 || k > 122)//letras minusculas
	                    && (k < 65 || k > 90) //letras mayusculas
	                    && (k < 48 || k > 57) //NUmeros
	                    && (k != 13) //ENTER
	                    && (k != 8) //retroceso
	                    && (k != 9) //tab
	                    && (k != 241) //ñ
	                     && (k != 209) //Ñ
	                     && (k != 32) //espacio
	                     && (k != 225) //á
	                     && (k != 233) //é
	                     && (k != 237) //í
	                     && (k != 243) //ó
	                     && (k != 250) //ú
	                     && (k != 193) //Á
	                     && (k != 201) //É
	                     && (k != 205) //Í
	                     && (k != 211) //Ó
	                     && (k != 218) //Ú
	                     && (k != 44) //coma ,
	                     && (k != 46) //punto .
	                ){
	                	event.preventDefault();
	                	return false;
	                }
	            },
		    }
		});






    </script>
{%endblock%}
