
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Observaci&oacute;n</th>
      
    </tr>
  </thead>
  <tbody>
    {% for response in arrResponse%}
    {% set arrstudentObs = response.observacion|split(',') %}
    
    <tr>
        <th scope="row">{{loop.index}}</th> 
        <td>
            <small>
            <table class="table table-borderless">
                <tr><th><h4>{{response.observacion}}</h4></th></tr>
                
                                             
            </table>
            </small>
        <td>
    </tr>
    {% endfor %}
  
  </tbody>
</table>