{# {{ dump(valor) }} #}
<h1 class="panel-title1" align="center">UNIDAD EDUCATIVA VIGENTE </h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">CODIGO SIE:</th>
      <th scope="col">{{valor.id}}</th>
    </tr>
    <tr>
      <th scope="col">UNIDAD EDUCATIVA :</th>
      <th scope="col">{{valor.institucioneducativa}}</th>
    </tr>
    <tr>
      <th scope="col">JUSTIFICACION</th>
      <th scope="col">{{valor.observacion}}</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>