
				<div class="col-md-10 col-xs-12 col-md-offset-1 caja">
					<article>
					    <h3  style="color: #1b3f61;text-align:center;">ESTA OPCIÓN ESTÁ TEMPORALMENTE FUERA DE SERVICIO.</h3>
					    <div>
					        <strong><p>Con el objeto de mejorar y abreviar el proceso de validación de estudiantes nuevo y antiguos del Subsistema de Educación Regular, se comunica que está opción se encuentra temporalmente fuera de servicio hasta Hrs. 8:00 del día martes 26 de enero de 2021.
					        </p></strong>
					        <p>&mdash; SIE</p>
					        
					        <center>
					        {#<img loading="lazy" class="alignnone wp-image-748 size-medium" alt="mantenimiento bjp" width="600" height="400" srcset="{{asset('webherramienta/img/logo/html/bjp.jpeg')}}" sizes="(max-width: 225px) 100vw, 225px">#}
					        </center>
					    </div>
					    
					    
					</article>					
				</div>
