<p></p>
<div class="row">
  {% if groupId %}
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="fa fa-info-circle fa-fw"></i> La categoría seleccionada corresponde a inscripción por equipo, por tanto, para eliminar un registro debe hacerlo a través del módulo de inscripción.
      </div>
    </div>
  {% else %}
    <div class="col-md-12">
      {{form_start(form, { 'attr':{'id':'idForminscriptionOlim'} })}}
        <div class="form-body">
          <div class="row">
            <div class="col-md-3">
              NIVEL:
              {{form_widget(form.nivel, {'attr': {'class':'form-control', 'onchange':'getGrados(this.value)'} } )}}
            </div>
            <div class="col-md-3">
              GRADO:
              {{form_widget(form.grado, {'attr': {'class':'form-control', 'onchange':'getListStudentsTutor(this.value)'} } )}}
            </div>
          </div>
        </div><!-- /.form-body -->                   
      {{form_end(form)}}
    </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-12">
    <div id="getStudentsId"></div>
  </div>
</div>