<div class="row">
    <div class="col-md-12">
          <div class="alert alert-teals">
            <strong>Atento!</strong> 
            El listado generado cumple con los requisitos para la inscripci&oacute;n </br>
            Si la opcion "seleccinar" de la columna i no se habilita, es debido a que la o el estudiante no tiene registrado el numero de CI en el SIGED
            
        </div>
    </div>
  
</div>