<div class="row">
    <div class="col-md-12">
          <div class="alert alert-teals">
            <strong>¡Atención!</strong> 
	<ul>
	<li>El listado de estudiantes generado cumple con los requisitos para la inscripción.</li>
	<li>Si la opción "seleccionar" de la columna "Elegir" no se habilita, es debido a que la o el estudiante no tiene registrado el número de C.I. en el SIGED. </li>	
	</ul>
            
        </div>
    </div>
  
</div>
