<div class="row">
    <div class="col-md-12">
          <div class="alert alert-teals">
            <strong>Atento!</strong> Para la generaci&oacute;n de este listado de estudinate se aplico la regla correspondiente como la verificaci&oacute;n de la nacionalidad ...
        </div>
    </div>
  
</div>