
 body{
        margin:0px auto;
        padding:0px;
      }
.jumbotron-cambio{
	font-size: 15px;
	top: 0px;
	padding: 10px;
	position: relative;
	background-color: #1F4F64;
	color: white;
}
nav.navbar {

}
.bodyvid{
	margin: 20px;
}
.sinpadding {
    margin: 0px;
    padding: 0px 0px 8px 0px;
}

.texto_vertical {
  white-space: pre;
}