<div class="row">
    <div class="col-md-12">

    <div class="panel rounded shadow">
        <div class="panel-body">
            <div class="inner-all">
                <button class="btn btn-primary btn-xs btn-push">Descargar Credencial</button>
            </div>
        </div><!-- /.panel-body -->
    </div>

    {% if form.typeOption == 0 %}
        {% include 'SieJuegosBundle:PrintCredencial:student.html.twig'  %}
    {% endif %}
    {% if form.typeOption == 1 %}
        {% include 'SieJuegosBundle:PrintCredencial:accompanist.html.twig'  %}
    {% endif %}
    
    {% if form.typeOption == 2 %}
        {% include 'SieJuegosBundle:RegistryPersonComission:dataPerson.html.twig'  %}
    {% endif %}
    
        {# with {'dataInscription': dataInscriptionR} #}
    </div>
</div>
<div class="row">
            
        
     <div class="col-md-12">
        <div id="resultCommission">
            </div> 
    </div> 
</div>




