{% extends "::base.html.twig" %}

{% block title %}SieDgesttlaBundle:InscriptionDg:doInscriptionDg{% endblock %}

{% block body %}
<h1>Welcome to the InscriptionDg:doInscriptionDg page</h1>
{% endblock %}
