{% extends "::base.html.twig" %}

{% block title %}SieRegularBundle:InscriptionSpecialNew:doInscription{% endblock %}

{% block body %}
<h1>Welcome to the InscriptionSpecialNew:doInscription page</h1>
{% endblock %}
