{% extends "::base.html.twig" %}

{% block title %}SieRegularBundle:InscriptionSpecialNew:result{% endblock %}

{% block body %}
<h1>Welcome to the InscriptionSpecialNew:result page</h1>
{% endblock %}
