<form class="form-horizontal form-bordered" role="form">
    <div class="form-body">
        <div class="form-group">
            <label for="firstname-1" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="firstname-1">
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label for="password-1" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control input-sm" id="password-1">
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <div class="ckbox ckbox-theme">
                    <input id="rememberme-3" value="1" type="checkbox">
                    <label for="rememberme-3">Remember me</label>
                </div>
            </div>
        </div>
        <!-- /.form-group -->
    </div>
    <!-- /.form-body -->
    <div class="form-footer">
        <div class="col-sm-offset-3">
            <button type="submit" class="btn btn-success">Sign in</button>
        </div>
    </div>
    <!-- /.form-footer -->
</form>