									<div class="row" style="padding-top:1rem">
										<div class="col-xs-12" >
											<fieldset>
												<legend>Informe de Verificación/Aprobación</legend>
													<div class="row">
														<div class="col-xs-12">
															Los campos marcados con <span class='text-danger text'>*</span> son requeridos.
														</div>
														<div class="col-xs-12" style="padding-top:1rem">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label"><sup class='text-danger text'>*</sup> Adjuntar informe:</label>
																<div class="col-xs-12 col-sm-9">
																	<input type="file" name="request_fileInforme" id="request_fileInforme" accept="application/pdf" required>
																</div>
															</div>
														</div>
													</div>
											</fieldset>
										</div>
									</div>