<div class="row">
	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading"></div>
			<div class="panel-body">

				<div class="alert alert-{{typeMessage}}">
		            <strong>{{mainMessage}}:</strong> {{updateMessage}}
		        </div>
				
			</div>
		</div>		
	</div>
</div>
