{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:TransferStudents:lookforStudents{% endblock %}

{% block body %}
<h1>Welcome to the TransferStudents:lookforStudents page</h1>
{% endblock %}
