    <table class="table">
        <thead>
            <tr>
                <th>Ambiente</th>
                <th>Nro. Ambientes</th>
                <th>&Aacute;rea</th>
                <th>Estado Ambiente</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.n34AmbienteTipo }}</td>
                <td>{{ entity.n34AmbienteCantidad }}</td>
                <td>{{ entity.n34AmbienteArea }}</td>
                <td>{{ entity.estadoTipo }}</td>
              
            </tr>
        {% endfor %}
        </tbody>
    </table>
