{% extends "::base.html.twig" %}

{% block title %}SieHerramientaBundle:DownloadInfraFile:downloadFile{% endblock %}

{% block body %}
<h1>Welcome to the DownloadInfraFile:downloadFile page</h1>
{% endblock %}
