
<div class="col-lg-4 col-lg-offset-4">
                        <div class="portlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4></h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                       <table id="myTable" class="table ">

                                        <thead class="">
                                            <tr class="">
                                                <th>Archivo generado</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr style="text-align:centers">
                                                <td class="text-center">
                                                    <a href="{{path('donwload_listainscritosestudiantesolim', {'codges': data.gestion, 'coddis': data.codigoDistrito  } )}}">
                                                        <img src="{{asset('img/pdf.png') }}" data-1x="{{asset('img/pdf.png')}}" data-2x="{{asset('img/pdf.png')}}" height="40" width="40"   class="hisrc img-responsive" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                      
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>