{% extends "::base.html.twig" %}

{% block title %}SieAppWebBundle:InstitucionModalidadAte:index{% endblock %}

{% block body %}
<h1>Welcome to the InstitucionModalidadAte:index page</h1>
{% endblock %}
