<div style="background:#2AC2C7; padding:5px; color:#FFFFFF">
	<h3 style="text-align:center;">SISTEMA DE INFRAESTRUCTURA EDUCATIVA</h3>
	<div class="row">
		<div class="col-md-4 text-center">
			<h5>Código de EE: {{app.session.get('infCodigoEdificio')}}</h5>
		</div>
		<div class="col-md-4 text-center">
			<h5>Número de infraestructura: {{app.session.get('infNumeroInfraestructura')}}</h5>
		</div>
		<div class="col-md-4 text-center">
			<h5>Operativo: {{app.session.get('infGestionId')}}</h5>
		</div>
	</div>
</div>
<br>
