{% extends 'layoutPnp.html.twig' %}

{% block body -%}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-home animated flip"></i>ABRIR CURSO(S) <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">
                    Curso
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Abrir Curso(s)</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Bien!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Advertencia!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}


    <form action="{{ path('sie_pnp_abrir_curso') }}" method="POST">
            <!-- Website Stats  Widget -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Inserte Datos
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Digitar los Id de los cursos Ej: (ID,ID,ID)</h4>
                            </div>
                            <div class="col-md-12">
                                <textarea name="cursos" id="cursos" class="form-control" required="required"></textarea>
                            </div>
        
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" id="boton" value="Abrir Curso(s)" class="btn btn-success btn-large">
                            </div>
                        </div>
                    </div>
                </div>
        </form>
{% endblock %}