<div class="col-lg-12">
    <div class="portlet portlet-red">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4></h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tbody>
                      <tr>
                          <td>Rude</td><td>{{(EstudianteResp.codigoRude)}}</td>
                      </tr>
                      <tr>
                          <td>Paterno</td><td>{{(EstudianteResp.paterno)}}</td>
                          <td>Materno</td><td>{{(EstudianteResp.materno)}}</td>
                          <td>Nombre</td><td> {{(EstudianteResp.nombre)}}</td>
                      </tr>
                      <tr>
                        <td>Estudiante ya cuenta con inscripción...</td>
                      </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.portlet -->
</div>
