{% extends "::base.html.twig" %}

{% block title %}SieOlimpiadasBundle:InscripcionNivelSuper:findSudentInscription{% endblock %}

{% block body %}
<h1>Welcome to the InscripcionNivelSuper:findSudentInscription page</h1>
{% endblock %}
