<div class="row">
  <div class="col-md-12">
     <div class="form-body">


       <div class="panel rounded shadow">
         <div class="panel-body">
           <button type="button" class="btn btn-inverse btn-stroke">Adicionar ambiente</button>
         </div>
       </div>
       
     </div>



  </div> <!-- end firt column -->



</div>
