{% extends "::base.html.twig" %}

{% block title %}SieAppWebBundle:UpdateSudentLevel:lookStudentData{% endblock %}

{% block body %}
<h1>Welcome to the UpdateSudentLevel:lookStudentData page</h1>
{% endblock %}
