/* ========================================================================
 * PLUGINS
 * ======================================================================== */
/* ========================================================================
 * BOOTSTRAP
 * ======================================================================== */
@media (max-width: 800px) {
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* ========================================================================
 * CUBE PORTFOLIO
 * ======================================================================== */
.cbp {
  margin-top: 35px;
}

.cbp-detail {
  border: 1px solid white;
  padding: 10px;
  color: white !important;
  background-color: transparent !important;
}
.cbp-detail:hover {
  background-color: #547EB1 !important;
}

.cbp-l-grid-masonry-projects-title {
  font-size: 17px;
  color: #333;
}

.cbp-l-loadMore-link:hover {
  background-color: white;
}
