<style>
	a{
		color: #000000;
	}
	a:hover{
		text-decoration: none;
	}
</style>
<div class="panel rounded shadow">
	<div class="panel-body">
		<blockquote>
	        <p><strong><a href="{{ path('olimmateriatipo') }}">{{ olimpiada.nombreOlimpiada }}</a></strong></p>
            <footer>Gestión <cite title="Source Title">{{ olimpiada.gestionTipo.id }}</cite></footer>
        </blockquote>
	</div>
</div>