
<center>
    <a class="btn btn-success  btn-pinterest" href="{{ path('download_file_sie_download', { 'file':file } )}}">
        <i class="fa fa-download"></i> Descargar Archivo Generado
    </a>
</center>
