Sie\AppWebBundle\Entity\InstitucioneducativaCursoOfertaMaestro:
    type: entity
    table: institucioneducativa_curso_oferta_maestro
    indexes:
        maestro_inscripcion_id_fk:
            columns:
                - maestro_inscripcion_id
        institucioneducativa_curso_oferta_id_fk:
            columns:
                - institucioneducativa_curso_oferta_id
        IDX_5CC3C439CEDB60B7:
            columns:
                - financiamiento_tipo_id
        IDX_5CC3C439756DFBFA:
            columns:
                - nota_tipo_id
    uniqueConstraints:
        institucioneducativa_curso_oferta_maestro_pk:
            columns:
                - id
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: SEQUENCE
    fields:
        horasMes:
            type: smallint
            nullable: true
            unsigned: false
            comment: ''
            column: horas_mes
        fechaRegistro:
            type: date
            nullable: true
            comment: ''
            column: fecha_registro
        fechaModificacion:
            type: date
            nullable: true
            comment: ''
            column: fecha_modificacion
        esVigenteMaestro:
            type: boolean
            nullable: true
            comment: ''
            column: es_vigente_maestro
        item:
            type: string
            nullable: true
            length: 7
            fixed: false
            comment: ''
        esVigenteAdministrativo:
            type: boolean
            nullable: true
            comment: ''
            column: es_vigente_administrativo
        asignacionFechaInicio:
            type: date
            nullable: true
            comment: ''
            column: asignacion_fecha_inicio
        asignacionFechaFin:
            type: date
            nullable: true
            comment: ''
            column: asignacion_fecha_fin
    manyToOne:
        financiamientoTipo:
            targetEntity: FinanciamientoTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                financiamiento_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        notaTipo:
            targetEntity: NotaTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                nota_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        maestroInscripcion:
            targetEntity: MaestroInscripcion
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                maestro_inscripcion_id:
                    referencedColumnName: id
            orphanRemoval: false
        institucioneducativaCursoOferta:
            targetEntity: InstitucioneducativaCursoOferta
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                institucioneducativa_curso_oferta_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
