Sie\AppWebBundle\Entity\Persona:
    type: entity
    table: persona
    indexes:
        fk__persona32:
            columns:
                - paterno
                - materno
                - nombre
                - carnet
        fk__persona31:
            columns:
                - paterno
                - materno
                - nombre
                - fecha_nacimiento
                - carnet
        fk__persona30:
            columns:
                - paterno
                - materno
                - nombre
        IDX_51E5B69B1C30CFD:
            columns:
                - estadocivil_tipo_id
        IDX_51E5B69B1C73F6E:
            columns:
                - expedido_id
        IDX_51E5B69B2BCFBA7:
            columns:
                - genero_tipo_id
        IDX_51E5B69BCD9F4106:
            columns:
                - idioma_materno_id
        IDX_51E5B69B70591119:
            columns:
                - sangre_tipo_id
        IDX_51E5B69B92548EB1:
            columns:
                - pais_tipo_id
    uniqueConstraints:
        uniq_carnet_idx:
            columns:
                - carnet
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: SEQUENCE
    fields:
        carnet:
            type: string
            nullable: false
            length: 15
            fixed: false
            comment: ''
            default: '0'
        rda:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            default: '0'
        libretaMilitar:
            type: string
            nullable: true
            length: 20
            fixed: false
            comment: ''
            column: libreta_militar
        pasaporte:
            type: string
            nullable: true
            length: 45
            fixed: false
            comment: ''
        paterno:
            type: string
            nullable: true
            length: 75
            fixed: false
            comment: ''
        materno:
            type: string
            nullable: true
            length: 75
            fixed: false
            comment: ''
        nombre:
            type: string
            nullable: true
            length: 75
            fixed: false
            comment: ''
        fechaNacimiento:
            type: date
            nullable: false
            comment: ''
            column: fecha_nacimiento
        segipId:
            type: smallint
            nullable: false
            unsigned: false
            comment: ''
            default: '0'
            column: segip_id
        complemento:
            type: string
            nullable: false
            length: 2
            fixed: false
            comment: ''
            default: ''
        activo:
            type: boolean
            nullable: true
            comment: ''
        correo:
            type: string
            nullable: true
            length: 40
            fixed: false
            comment: ''
        foto:
            type: string
            nullable: true
            length: 255
            fixed: false
            comment: ''
        celular:
            type: string
            nullable: true
            length: 10
            fixed: false
            comment: ''
        direccion:
            type: string
            nullable: true
            length: 50
            fixed: false
            comment: ''
        esvigente:
            type: boolean
            nullable: true
            comment: ''
            default: false
        esvigenteApoderado:
            type: smallint
            nullable: true
            unsigned: false
            comment: ''
            column: esvigente_apoderado
        countEdit:
            type: smallint
            nullable: true
            unsigned: false
            comment: ''
            column: count_edit
        obsSegip:
            type: string
            nullable: true
            length: 100
            fixed: false
            comment: ''
            column: obs_segip
        esExtranjero:
            type: boolean
            nullable: false
            comment: ''
            default: false
            column: es_extranjero
        localidadNac:
            type: string
            nullable: true
            length: 150
            fixed: false
            comment: ''
            column: localidad_nac
    manyToOne:
        estadocivilTipo:
            targetEntity: EstadoCivilTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                estadocivil_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        expedido:
            targetEntity: DepartamentoTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                expedido_id:
                    referencedColumnName: id
            orphanRemoval: false
        generoTipo:
            targetEntity: GeneroTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                genero_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        idiomaMaterno:
            targetEntity: IdiomaTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                idioma_materno_id:
                    referencedColumnName: id
            orphanRemoval: false
        sangreTipo:
            targetEntity: SangreTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                sangre_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        paisTipo:
            targetEntity: PaisTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                pais_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
