Sie\AppWebBundle\Entity\RudeApoderadoInscripcion:
    type: entity
    table: rude_apoderado_inscripcion
    indexes:
        IDX_1D3B1650C861DD7C:
            columns:
                - apoderado_tipo_id
        IDX_1D3B1650F5F88DB9:
            columns:
                - persona_id
        IDX_1D3B1650A1104027:
            columns:
                - estudiante_inscripcion_id
        IDX_1D3B16505BD19E43:
            columns:
                - idioma_materno_tipo_id
        IDX_1D3B1650A6223D4D:
            columns:
                - instruccion_tipo_id
        IDX_1D3B165018853B5C:
            columns:
                - ocupacion_tipo_id
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: SEQUENCE
    fields:
        empleo:
            type: string
            nullable: true
            length: 150
            fixed: false
            comment: ''
        telefono:
            type: string
            nullable: true
            length: 15
            fixed: false
            comment: ''
        obs:
            type: string
            nullable: true
            length: 150
            fixed: false
            comment: ''
        tieneocupacion:
            type: boolean
            nullable: true
            comment: ''
    manyToOne:
        apoderadoTipo:
            targetEntity: ApoderadoTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                apoderado_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        persona:
            targetEntity: Persona
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                persona_id:
                    referencedColumnName: id
            orphanRemoval: false
        estudianteInscripcion:
            targetEntity: EstudianteInscripcion
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                estudiante_inscripcion_id:
                    referencedColumnName: id
            orphanRemoval: false
        idiomaMaternoTipo:
            targetEntity: IdiomaTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                idioma_materno_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        instruccionTipo:
            targetEntity: InstruccionTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                instruccion_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
        ocupacionTipo:
            targetEntity: ApoderadoOcupacionTipo
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                ocupacion_tipo_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
